@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Sklep sportowy: Zamówienie zostało przesłane";
}

<h2>Dziękujemy!</h2>
Dziękujemy za złożenie zamówienia. WYślemy produkty tak szbko, jak tylko będzie to możliwe.

