body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

form {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0.3em;
}

tfoot td{
    border-top: 1px dotted gray;
    font-weight: bold;
}

table {
    width: 100%;
}

#categories {
    width: 20%;
    padding: .3em;
}

#categories a {
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid silver;
}

#categories a.selected {
    background-color: #666;
    color: white;
}

#categories a:hover{
    background-color: #ccc;
}

#categories a.selected:hover{
    background-color: #666;
}

/* Set padding to keep content from hitting the edges */
.container.body-content {
    width: 80%;
    border-left: 2px solid gray;
    padding: 1em;
}


.item {
    border-top: 1px dotted gray;
}

.item:first-child {
    border-top: none;
    padding-top: 0;
}

.item h3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

.item h4 {
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

.item form {
    float: right;
}

.item input {
    color: white;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}

.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

.pager a {
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}

.pager a:hover {
    background-color: silver;
}

.pager a.selected {
    background-color: #353535;
    color: white;
}

.actionButtons a, input.actionButtons {
    font: .8em Arial;
    color: white;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

